@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-size: 400% 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(-45deg,#00CED1, #C71585,#00CED1, #800080 );
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(33, 217, 223);
    background-color: rgb(19, 116, 185);
    color: rgb(184, 15, 15);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

